body {
  background-color: red;
  color: white;
  margin: 0;
}

.section-about {
  display: flex;
  height: 100vh;
  flex-direction: column;

  &__header {

  }

  &__personal {

  }

  &__skills {

  }

}
