*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.about__header {
  display: flex;
  justify-content: center;
  margin: 10px; }

.about__info {
  display: flex;
  flex-direction: row;
  margin: 0 15%; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: white; }

body {
  background-color: red;
  color: white;
  margin: 0; }

.section-about {
  display: flex;
  height: 100vh;
  flex-direction: column; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; }
